 #infi-list
 {
   height: 300px;
   width: 200px;
   border: 2px solid black;
   overflow-x: scroll;
 }
 #infi-list>li
 {
  padding: 10px 0px;
  list-style-type: none;
 }
 #infi-list>li:hover{
  color: white;
  background-color: gray;
 }
 #infi-list::-webkit-scrollbar
 {
  display: none;
 }